.lore-section {
    background: #00000000;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.a {
    color: #61dafb;
  }

.lore-section h2 {
    font-size: 34px;
    color: #bac3cc;
    margin-bottom: 10px;
}

.lore-section p {
    font-size: 16px;
    line-height: 1.5;
}

.map-image {
    max-width: 98%;
    object-fit: contain;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.image-gallery .lore-image {
    width: calc(33.33% - 10px);
    object-fit: contain;
    border-radius: 5px;
    transition: transform 0.2s;
}

.image-gallery .lore-image:hover {
    transform: scale(1.01);
}

.sub-lore-section {
    margin-left: 20px;
    padding-left: 10px;
    border-left: 2px solid #3498db55;
}

.sub-lore-section h2 {
    font-size: 20px;
    color: #c0e6ff;
}

.sub-lore-section p {
    font-size: 14px;
}

@media (max-width: 768px) {
    .image-gallery .lore-image {
        width: calc(50% - 10px); /* Two images per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .image-gallery .lore-image {
        width: 100%; /* Full width on mobile devices */
    }
}